body {
    width: 24rem;
}

.bg {
    background-color: #fff;
}

.top-container {
    font-family: 'Varela Round';
    background-color: #e8f4fd;
    color: #3c5f7b;
}

.btn-light {
    background-color: #e5e3e3 !important;
    color: #263f53 !important;
}

.btn-light:hover {
    border-color: #c6c5c5 !important;
    background-color: #c6c5c5 !important;
    color: #263f53 !important;
}